.head{
    /* border-right: 2px solid black; */
    padding: 20px;
}
.left-header{
    margin-left: auto;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding-left: 20px;
}
.vertical-nav{
    float:left;
    width: 400px;
    text-align: center;
}
.vertical-nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    padding: 60px;
}
.vertical-nav a:hover {
    color: beige;
    text-decoration: none;
    background-color: rgb(184, 184, 184);
}
.table-right{
    float:right;
    padding-right:  300px;
    padding-top:  100px;
}
table{
    width: 100%;
}
/* th{
    border: 2px solid black;
} */
th,td{
    padding: 50px;
    border: 1px solid black;
    text-align: center;
}